@import "tailwindcss";
@import "react-datepicker/dist/react-datepicker.css";

.custom-calendar {
  width: 100%;
  max-width: 270px;
  border: 2px solid rgb(73, 72, 72);
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  font-family: inherit;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 15px;
}

/* Día seleccionado: plomo */
.custom-calendar .react-datepicker__day--selected {
  background-color: #3d3d3d; /* plomo */
  color: white;
  border-radius: 50%;
}
.custom-calendar .react-datepicker__day--keyboard-selected {
  background-color: transparent;
}
/* Día hover */
.custom-calendar .react-datepicker__day:hover {
  background-color: #d4d4d4;
  color: #828282;
  border-radius: 50%;
}

.custom-calendar .react-datepicker__header {
  background-color: transparent;
}
